@import "~@/assets/style/helper.scss";
body{
  .el-popconfirm__main{
    font-size: 14px;
    margin-bottom: 5px;
  }
  .el-button--text{
    color: $color-lowLight;
    &:hover{
      color: $color-highLight;
    }
  }
  .el-button--primary{
    background: $color-lowLight;
    border: none;
    &:hover{
      background: $color-highLight;
    }
  }
  .el-date-table td.current:not(.disabled) span{
    background: $color-lowLight;
  }
  .el-date-table td.today span,.el-month-table td.today .cell,.el-month-table td .cell:hover,.el-year-table td.today .cell
  ,.el-year-table td .cell:hover, .el-year-table td.current:not(.disabled) .cell{
    color: $color-lowLight;
  }
  .el-date-table td.available:hover{
    color: $color-lowLight;
  }
}