@import "helper";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after,*::before{
  box-sizing: border-box;
}
ol,ul{
  list-style: none;
}
body{
  line-height: 1.5;
  font-size: 14px;
  font-family: $font-hei;
  color:#484848;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
  color: inherit;
  font: inherit;
}