@import "helper";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after,*::before{
  box-sizing: border-box;
}
ol,ul{
  list-style: none;
}
body{
  line-height: 1.5;
  font-size: 14px;
  font-family: $font-hei;
  color:#484848;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 500px;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: inherit;
  font: inherit;
}
button,input{
  font: inherit;
  color: inherit;
}
.oneLine{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
input:focus,button:focus{
  outline: none;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.hideScroll{
  overflow: scroll;
  scrollbar-width: none;
  flex: 1 0 auto;
  -ms-overflow-style: none;
  height: 0;
&::-webkit-scrollbar{
  display: none;
}
}
.flexCenter{
  display: flex;
  justify-content: center;
  align-content: center;
}